{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="display-6 fw-bold">Empleados</h1>
                <form action="{% url 'crear_empleados' %}" method="POST" class="card card-body bg-secondary">
                    {% csrf_token %}
                    <label for="Nombre">Nombres</label>
                    <input type="text" name="nombres" placeholder="Ingrese nombres del empleado"
                        class="form-control mb-2">
                    <label for="Apellidos">Apellidos</label>
                    <input type="text" name="apellidos" placeholder="Ingrese apellidos del empleado"
                        class="form-control mb-2">
                    <label for="tipoIdentificacion">Tipo de Identificación</label>
                    <select name="tipoIdentificacion" id="" class="form-control mb-2">
                        <option value="NIT">NIT</option>
                        <option value="CC">CC</option>
                    </select>
                    <label for="Identificacion">Identificación</label>
                    <input type="text" name="identificacion" placeholder="Identificación" class="form-control mb-2">
                    <label for="fechaIngreso">Fecha de Ingreso</label>
                    <input type="date" name="fechaIngreso" class="form-control mb-2">
                    <label for="salario">Salario Mensual</label>
                    <input type="number" name="salarioMensual" placeholder="Salario" class="form-control mb-2">
                    <label for="cargo">Cargo</label>
                    <input type="text" name="cargo" placeholder="Cargo" class="form-control mb-2">
                    <label for="departamento">Departamento</label>
                    <input type="text" name="departamento" placeholder="Departamento" class="form-control mb-2">
                    <button class="btn btn-success">Guardar Empleado</button>
                </form>

                {% for empleado in empleados %}
                <div class="card card-body text-black mt-2 d-flex flex-row justify-content-between">
                    <div>
                        <h4>{{empleado.nombres}} {{empleado.apellidos}}</h4>
                        <h4>{{empleado.tipo_identificacion}}: {{empleado.identificacion}}</h4>

                    </div>
                    
                    <form action="{% url 'eliminar_empleados' empleado.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </div>
                {% empty %}
                <h1 class="display-4 text-center">No hay empleados aún</h1>
                {% endfor %}

            </div>
        </div>
    </div>

</body>

</html>