{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emails</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="display-6 fw-bold">Emails</h1>
                <form action="{% url 'crear_emails' %}" method="POST" class="card card-body bg-secondary">
                    {% csrf_token %}


                    <label for="Email">Email</label>
                    <input type="email" name="email" placeholder="E-mail" class="form-control mb-2">
                    <label for="Empleado">Empleado</label>
                    <input type="number" name="empleado" placeholder="ID Empleado" class="form-control mb-2">
                    <button class="btn btn-success">Guardar email</button>
                    {% if messages %}

                    {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}

                    {% endif %}
                </form>

                {% for email in emails %}
                <div class="card card-body text-black mt-2 d-flex flex-row justify-content-between">
                    <div>
                        <h4>Empleado: {{ email.empleado.nombres }} {{ email.empleado.apellidos }}</h4>
                        <h4>{{email.email}}</h4>

                    </div>

                    <form action="{% url 'eliminar_emails' email.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm ">Eliminar</button>
                    </form>
                </div>
                {% empty %}
                <h1 class="display-4 text-center">No hay emails aún</h1>
                {% endfor %}

            </div>
        </div>
    </div>

</body>

</html>