{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telefonos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="display-6 fw-bold">Teléfonos</h1>
                <form action="{% url 'crear_telefonos' %}" method="POST" class="card card-body bg-secondary">
                    {% csrf_token %}

                    <label for="Tipo">Tipo</label>
                    <select name="tipo" id="" class="form-control mb-2">
                        <option value="CELL">CELL</option>
                        <option value="TEL">TEL</option>
                    </select>
                    <label for="Numero">Numero</label>
                    <input type="text" name="numero" placeholder="Número" class="form-control mb-2">
                    <label for="Indicativo">Indicativo</label>
                    <input type="text" name="indicativo" placeholder="Indicativo" class="form-control mb-2">
                    <label for="Empleado">Empleado</label>
                    <input type="number" name="empleado" placeholder="ID Empleado" class="form-control mb-2">
                    <button class="btn btn-success">Guardar Telefono</button>
                </form>

                {% for telefono in telefonos %}
                <div class="card card-body text-black mt-2 d-flex flex-row justify-content-between">
                    <div>
                        <h4>{{telefono.tipo}}: {{telefono.indicativo}} {{telefono.numero}}</h4>
                        <h4 >Empleado: {{ telefono.empleado.nombres }} {{ telefono.empleado.apellidos }}</h4>
                    </div>
                    
                    <form action="{% url 'eliminar_telefonos' telefono.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </div>
                {% empty %}
                <h1 class="display-4 text-center">No hay telefonos aún</h1>
                {% endfor %}

            </div>
        </div>
    </div>

</body>

</html>